<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Bookinfo</title>
</head>
<body>
<h1>蔵書管理</h1>
<tr>
<form method="post" action="retrieve">
<td>検索項目を入力して<input type="text" name="id"></td>
<INPUT TYPE="submit" VALUE="検索">
</form>
</tr>
<p>
<a href="/">元に戻る</a>

<hr>

<table border>

</table>

</body>
</html>